.containerMyAlbum {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: rgb(255, 255, 255);

  width: 600px;
  height: 300px;
  margin: auto;
  margin-top: 65px;
  padding: 5px;

  background-color: rgb(26, 26, 27);

  border-style: solid;
  border-width: 1px;
  border-color: rgb(37, 37, 37);
  border-radius: 5px;
}

.albumList {
  flex-direction: column;
  height: 88%;
}

.contentMyAlbum {
  display: inline-block;

  width: 95%;
  height: 90%;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
}

.contentMyAlbum #sideOptions {
  position: relative;
  float: left;
  align-items: center;
  width: 150px;
  height: 110%;

  margin-right: 10px;

  padding-right: 10px;
  padding-left: 0px;

  border-right-style: solid;
  border-width: 3px;
  border-color: rgba(0, 92, 95, 0.479);
}

.item {
  word-wrap: break-word;
  max-width: 150px;

  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(66, 66, 66);

  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.item:hover {
  color: rgb(0, 200, 210);
}

.itemTitle {
  color: rgb(0, 200, 210);
  font-weight: 700;
  font-size: 14pt;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(0, 200, 210);

  padding-bottom: 5px;
  padding-top: 5px;
}

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  overflow-y: scroll;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.subMenuTitle {
  color: rgb(0, 200, 210);
  font-weight: 700;
  font-size: 14pt;

  padding-bottom: 5px;
  padding-top: 5px;
}

.subMenu {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(66, 66, 66, 0.281);

  width: 100%;
  text-align: center;

  border-radius: 10px;

  margin-top: 15px;
  padding-bottom: 10px;
}
